#window{
    width:275px;
    height:183px;
    margin:0 auto;
    overflow: hidden;
}
.images{
    position: relative;
}
.images > img{
    position: absolute;
    top:0;
    transition:all 0.5s;
}
.images > img.current{
    transform: translateX(0);
    z-index:1;
}
.images > img.enter{
    transform: translateX(100%)
}
.images > img.leave{
    transform: translateX(-100%);
}